<h2><a href="/adventures/<%= @adventure.id %>/chapters/<%= @chapters.last.id %>"><%= @adventure.username %></a></h2>
<h3><p><small>chapters in <%= @adventure.username %>'s adventure</small></p></h3>
<ul>
  <% @chapters.each do |chapter|%>
    <li><a href="adventures/<%= @adventure.id %>/chapters/<%= chapter.id %>"><%= chapter.prompt %></a></li>
  <% end %>
</ul>
<br>
<p><a href="/adventures/<%= @adventure.id %>/chapters/<%= @chapters.last.id %>">back to the adventure</a></p>
<p><a href="/adventures/<%= @adventure.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">destroy your adventure</a></p>
<p><a href="/adventures">adventurers listing</a></p>