<h2><a href="/adventures/<%= @adventure.id %>/chapters/<%= @chapters.last.id %>"><%= @adventure.username %></a></h2>
<div class="col-md-6">
  <div class="row">
	  <h3><p><small>chapters in <%= @adventure.username %>'s adventure</small></p></h3>
		<ul>
		  <% @chapters.each do |chapter|%>
		    <li><a href="adventures/<%= @adventure.id %>/chapters/<%= chapter.id %>"><%= chapter.prompt %></a></li>
		  <% end %>
		</ul>
	</div>
	<br>
	<div class="row">
		<div class="btn-group">
		  <a class="btn-sm btn-info" href="/adventures/<%= @adventure.id %>/chapters/<%= @chapters.last.id %>">back to the adventure</a>
		  <a class="btn-sm btn-danger" href="/adventures/<%= @adventure.id %>"
		      data-confirm="You sure?"
		      data-method="delete"
		      rel="nofollow">destroy your adventure</a>
		  <a class="btn-sm btn-primary" href="/adventures">adventurers listing</a>
		</div>
	</div>
</div>