<h3><%= @adventure.username %></h3>

<p><%= @chapter.prompt %></p>
<br>
<p><%= @chapter.episode %></p>
<ul>
  <% @chapter.choices.each do |choice|%>
    <li><a href="/adventures/<%= @adventure.id %>/chapters/<%= choice.id %>"><%= choice.prompt %></a></li>
  <% end %>
  <li><a href="/adventures/<%= @adventure.id %>/chapters/<%= @chapter.parent_chapter_id %>">TURN BACK </a></li>
</ul>